In [1]:
import json
from binance.um_futures import UMFutures
from binance.client import Client
import pandas as pd
import numpy as np
from coinAPI_binanceList import get_auth_pair

binance_list_pair = get_auth_pair()

# um_futures_client = UMFutures(key='SSXkAxuv2Zez5asJ0idZSeuPgyFD9l0ttvc0nbLZDFyQ6HwvWMIDGUlx4WGygufp',
#                               secret='YDV8uTGawx9MbnQUPZvCa29qE5uAwhOabpzWaNvvHzhfXUwNyTj4HCreJGrMkbLq')

client = Client('SSXkAxuv2Zez5asJ0idZSeuPgyFD9l0ttvc0nbLZDFyQ6HwvWMIDGUlx4WGygufp',
                              'YDV8uTGawx9MbnQUPZvCa29qE5uAwhOabpzWaNvvHzhfXUwNyTj4HCreJGrMkbLq')
# um_futures_client = UMFutures()

def check_1h_rate(symbol):
    klines = um_futures_client.get_klines(symbol=symbol, interval='1m', limit=60)
    # klines = client.get_klines(symbol=symbol, interval='15m', limit=1000)
    columns = ['Open time', 'Open', 'High', 'Low', 'Close', 'Volume', 'Close time', 'Quote asset volume',
            'Number of trades', 'Taker buy base asset volume', 'Taker buy quote asset volume', 'Ignore']
    df = pd.DataFrame(klines, columns=columns)
    df['Open time'] = pd.to_datetime(df['Open time'], unit='ms')
    df['Close time'] = pd.to_datetime(df['Close time'], unit='ms')
    df['Rate Change (%)'] = round(((df['High'].astype(float) - df['Low'].astype(float)) / df['Low'].astype(float)) * 100)
    last_hour_price = float(df.iloc[0, 1])
    current_price = float(df.iloc[-1, 4])
    temp = current_price - last_hour_price
    if temp != 0:
        result = round(temp/last_hour_price * 100, 2)
    else:
        result = 0
    if result > 5 or result < -5:
        print(symbol, ": ", result, "%")
        return {
            "symbol": symbol,
            "result": result
        }
    return None
    print(symbol, ": ", result, "%")

In [7]:
symbol = 'BTCUSDT'
# Get the 1-hour klines (candlestick) data
# klines = um_futures_client.klines("1000FLOKIUSDT", "1h", **{"limit": 60})
# klines = um_futures_client.mark_price_klines("1000FLOKIUSDT", "1m", **{"limit": 60})
klines = client.get_klines(symbol=symbol, interval='3d', limit=500)
columns = ['Open time', 'Open', 'High', 'Low', 'Close', 'Volume', 'Close time', 'Quote asset volume',
           'Number of trades', 'Taker buy base asset volume', 'Taker buy quote asset volume', 'Ignore']
df = pd.DataFrame(klines, columns=columns)
df['Open time'] = pd.to_datetime(df['Open time'], unit='ms')
df['Close time'] = pd.to_datetime(df['Close time'], unit='ms')
df['Mark'] = np.where(df['Open'].astype(float) > df['Close'].astype(float), 1, -1)
df['Rate Change (%)'] = round(((df['High'].astype(float) - df['Low'].astype(float)) / df['Low'].astype(float)) * 100) * df['Mark']

In [8]:
# columns = ['Open time', 'Open', 'High', 'Low', 'Close', 'Volume', 'Close time', 'Quote asset volume',
#            'Number of trades', 'Taker buy base asset volume', 'Taker buy quote asset volume', 'Ignore']
# df = pd.DataFrame(klines, columns=columns)
# df['Open time'] = pd.to_datetime(df['Open time'], unit='ms')
# df['Close time'] = pd.to_datetime(df['Close time'], unit='ms')
# df['Rate Change (%)'] = round(((df['High'].astype(float) - df['Low'].astype(float)) / df['Low'].astype(float)) * 100)
# df.loc[0]

In [9]:
# Group the DataFrame by the 'Open time' column
grouped_df = df.groupby('Rate Change (%)')

# Print the first row of each group
group_lengths = grouped_df.size()

# Display the length of each group
print("Length of Each Group:")
print(group_lengths)

Length of Each Group:
Rate Change (%)
-57.0     1
-31.0     2
-29.0     1
-28.0     1
-25.0     1
-24.0     2
-21.0     5
-20.0     2
-19.0     4
-18.0     5
-17.0     5
-16.0     8
-15.0     4
-14.0     9
-13.0     9
-12.0    11
-11.0    14
-10.0    14
-9.0     16
-8.0     28
-7.0     24
-6.0     29
-5.0     33
-4.0     26
-3.0     10
-2.0      8
 2.0     12
 3.0     11
 4.0     18
 5.0     29
 6.0     17
 7.0     19
 8.0     19
 9.0     25
 10.0    14
 11.0    10
 12.0     7
 13.0     5
 14.0     4
 15.0     5
 16.0     5
 17.0     3
 18.0     3
 19.0     4
 20.0     2
 22.0     3
 24.0     2
 25.0     1
 26.0     1
 28.0     1
 30.0     2
 34.0     1
 35.0     1
 36.0     1
 37.0     1
 45.0     1
 85.0     1
dtype: int64

In [6]:
group_indices = grouped_df.groups
for group_key, indices in group_indices.items():
    print(f"\nGroup: {group_key}")
    print(f"Indices: {indices}")

Group: 0.0
Indices: Int64Index([ 0,  1,  3,  4,  5,  7,  8,  9, 11, 12, 13, 14, 17, 18, 19, 20, 21,
            22, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40,
            42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58,
            59],
           dtype='int64')

Group: 1.0
Indices: Int64Index([2, 6, 10, 15, 16, 23, 36, 41], dtype='int64')

In [7]:

new_array = np.array(group_indices[4]) + 1
group_indices[4]

KeyError: 4

In [ ]:
new_array

array([352, 354, 355, 358, 382, 403, 475, 478, 500, 517, 545, 570, 571,
       573, 581, 635, 667, 678, 687, 695, 722, 741, 762, 802, 807, 815,
       824, 828, 849, 851, 857, 858, 917, 951, 962, 982, 984, 989, 992,
       994], dtype=int64)

In [ ]:
selected_rows = df.iloc[new_array]

# Group the DataFrame by the 'Open time' column
group_selected_rows = selected_rows.groupby('Rate Change (%)')

# Print the first row of each group
group_selected_rows_lengths = group_selected_rows.size()

# Display the length of each group
print("Length of Each Group:")
print(group_selected_rows_lengths)
selected_rows

Length of Each Group:
Rate Change (%)
1.0     3
2.0    10
3.0    17
4.0     3
5.0     4
6.0     1
8.0     2
dtype: int64

,Open time,Open,High,Low,Close,Volume,Close time,Quote asset volume,Number of trades,Taker buy base asset volume,Taker buy quote asset volume,Ignore,Rate Change (%)
352,2024-02-14 13:00:00,0.00179200,0.00184700,0.00175700,0.00182700,1857427013.00000000,2024-02-14 13:59:59.999,3362356.41485600,20435,899809248.00000000,1630966.92824400,0,5.0
354,2024-02-14 15:00:00,0.00178400,0.00179700,0.00172700,0.00175200,1047190786.00000000,2024-02-14 15:59:59.999,1837837.31076200,12135,485065302.00000000,851430.95328200,0,4.0
355,2024-02-14 16:00:00,0.00175300,0.00176100,0.00168200,0.00173100,1141599042.00000000,2024-02-14 16:59:59.999,1961656.40588200,14003,521849429.00000000,897570.79237400,0,5.0
358,2024-02-14 19:00:00,0.00177900,0.00181700,0.00176300,0.00177800,712478048.00000000,2024-02-14 19:59:59.999,1268969.86075300,7620,335153428.00000000,597520.76561800,0,3.0
382,2024-02-15 19:00:00,0.00178600,0.00179700,0.00176300,0.00179300,245061124.00000000,2024-02-15 19:59:59.999,436199.09497900,2416,109216302.00000000,194418.79159100,0,2.0
403,2024-02-16 16:00:00,0.00167200,0.00168200,0.00164500,0.00164600,293309407.00000000,2024-02-16 16:59:59.999,488323.96688800,2133,135682504.00000000,226303.93749700,0,2.0
475,2024-02-19 16:00:00,0.00179400,0.00179600,0.00174100,0.00175100,284826062.00000000,2024-02-19 16:59:59.999,505093.56987400,3256,101885095.00000000,180917.96532800,0,3.0
478,2024-02-19 19:00:00,0.00176000,0.00178900,0.00175900,0.00178000,250221147.00000000,2024-02-19 19:59:59.999,445006.54489500,3014,140173289.00000000,249186.52521400,0,2.0
500,2024-02-20 17:00:00,0.00165900,0.00166900,0.00163700,0.00166200,246345419.00000000,2024-02-20 17:59:59.999,408072.69213700,3319,112257991.00000000,185952.32652100,0,2.0
517,2024-02-21 10:00:00,0.00165800,0.00168800,0.00163600,0.00168000,289009730.00000000,2024-02-21 10:59:59.999,478969.23305200,3324,133025737.00000000,220769.24882000,0,3.0
545,2024-02-22 14:00:00,0.00175800,0.00176800,0.00173900,0.00175300,180281520.00000000,2024-02-22 14:59:59.999,315579.85978400,2587,73759767.00000000,129126.17712200,0,2.0
570,2024-02-23 15:00:00,0.00187400,0.00187600,0.00180000,0.00183100,936787126.00000000,2024-02-23 15:59:59.999,1725987.43417600,13455,392362292.00000000,723829.10697000,0,4.0
571,2024-02-23 16:00:00,0.00183200,0.00184900,0.00180000,0.00184200,554440329.00000000,2024-02-23 16:59:59.999,1011640.37208800,8671,259902252.00000000,474487.80341200,0,3.0
573,2024-02-23 18:00:00,0.00188300,0.00190900,0.00186100,0.00189700,526557754.00000000,2024-02-23 18:59:59.999,994370.79945900,6911,249154290.00000000,470846.89129200,0,3.0
581,2024-02-24 02:00:00,0.00185200,0.00187900,0.00183600,0.00187800,234759715.00000000,2024-02-24 02:59:59.999,436172.80243900,2662,129530459.00000000,240784.92585400,0,2.0
635,2024-02-26 08:00:00,0.00187600,0.00190400,0.00187600,0.00190100,172466702.00000000,2024-02-26 08:59:59.999,326146.98023100,1791,79269676.00000000,149884.27363800,0,1.0
667,2024-02-27 16:00:00,0.00204300,0.00206000,0.00200300,0.00204800,962393815.00000000,2024-02-27 16:59:59.999,1960314.41536600,10923,460129933.00000000,937632.32676600,0,3.0
678,2024-02-28 03:00:00,0.00208400,0.00209900,0.00206900,0.00206900,130234455.00000000,2024-02-28 03:59:59.999,271514.71984100,1266,35650127.00000000,74326.68524100,0,1.0
687,2024-02-28 12:00:00,0.00210200,0.00212200,0.00206600,0.00207500,229262099.00000000,2024-02-28 12:59:59.999,479141.07062500,4819,93763373.00000000,195997.47518900,0,3.0
695,2024-02-28 20:00:00,0.00201300,0.00203200,0.00198600,0.00201300,231033375.00000000,2024-02-28 20:59:59.999,464473.44915300,3854,121948684.00000000,245170.45329300,0,2.0
722,2024-02-29 23:00:00,0.00204000,0.00208300,0.00203800,0.00208000,86899073.00000000,2024-02-29 23:59:59.999,179889.21800900,1604,36012059.00000000,74449.98032500,0,2.0
741,2024-03-01 18:00:00,0.00226700,0.00227500,0.00221400,0.00223400,424714736.00000000,2024-03-01 18:59:59.999,954049.47410400,6218,155382797.00000000,349180.91626800,0,3.0
762,2024-03-02 15:00:00,0.00234100,0.00234400,0.00228600,0.00229400,233351883.00000000,2024-03-02 15:59:59.999,536935.78054900,2821,110907268.00000000,255085.22924500,0,3.0
802,2024-03-04 07:00:00,0.00252300,0.00255300,0.00243800,0.00243900,498095873.00000000,2024-03-04 07:59:59.999,1242337.88021000,8223,219298285.00000000,548152.67567300,0,5.0
807,2024-03-04 12:00:00,0.00246700,0.00265000,0.00244400,0.00262900,1146237736.00000000,2024-03-04 12:59:59.999,2931392.92937700,12949,677287910.00000000,1733193.82600300,0,8.0
815,2024-03-04 20:00:00,0.00285200,0.00291200,0.00282300,0.00290200,705188989.00000000,2024-03-04 20:59:59.999,2014701.01055500,11599,405452160.00000000,1158941.52672900,0,3.0
824,2024-03-05 05:00:00,0.00262100,0.00266600,0.00252100,0.00266300,524496310.00000000,2024-03-05 05:59:59.999,1369255.43227700,8618,278189509.00000000,727199.32833000,0,6.0
828,2024-03-05 09:00:00,0.00276000,0.00276400,0.00269600,0.00274900,324970256.00000000,2024-03-05 09:59:59.999,884386.54800100,5787,150018837.00000000,408635.82693900,0,3.0
849,2024-03-06 06:00:00,0.00232300,0.00237900,0.00232000,0.00236700,520123039.00000000,2024-03-06 06:59:59.999,1225499.80710900,6955,287835595.00000000,678436.04666700,0,3.0
851,2024-03-06 08:00:00,0.00242200,0.00243500,0.00237400,0.00238600,657493105.00000000,2024-03-06 08:59:59.999,1583335.69909500,7806,303459648.00000000,731398.67914900,0,3.0
857,2024-03-06 14:00:00,0.00237900,0.00238800,0.00230400,0.00234100,276901643.00000000,2024-03-06 14:59:59.999,652275.12654400,4485,138255392.00000000,326016.18468300,0,4.0
858,2024-03-06 15:00:00,0.00234100,0.00237300,0.00229600,0.00236600,256659165.00000000,2024-03-06 15:59:59.999,601096.87010100,4191,130046970.00000000,304734.77545900,0,3.0
917,2024-03-09 02:00:00,0.00281100,0.00282400,0.00277800,0.00279700,235924257.00000000,2024-03-09 02:59:59.999,659552.94746000,2996,99681506.00000000,278707.10340500,0,2.0
951,2024-03-10 12:00:00,0.00280600,0.00281400,0.00272300,0.00275100,347605232.00000000,2024-03-10 12:59:59.999,960556.07346600,5709,153697028.00000000,424646.68216700,0,3.0
962,2024-03-10 23:00:00,0.00263800,0.00271500,0.00263800,0.00270600,168009189.00000000,2024-03-10 23:59:59.999,450594.41547700,2471,101694739.00000000,272589.82870600,0,3.0
982,2024-03-11 19:00:00,0.00280400,0.00293000,0.00279600,0.00290500,791226317.00000000,2024-03-11 19:59:59.999,2261725.09653400,15632,454193008.00000000,1299837.57661500,0,5.0
984,2024-03-11 21:00:00,0.00288200,0.00290000,0.00282300,0.00288200,362894855.00000000,2024-03-11 21:59:59.999,1040287.86230600,6928,185225853.00000000,531687.89445700,0,3.0
989,2024-03-12 02:00:00,0.00283900,0.00289400,0.00283300,0.00287600,120408244.00000000,2024-03-12 02:59:59.999,345422.95487200,1649,68442771.00000000,196259.13222100,0,2.0
992,2024-03-12 05:00:00,0.00287100,0.00289300,0.00285700,0.00287900,198447425.00000000,2024-03-12 05:59:59.999,570618.92439000,2315,98554385.00000000,283448.39066600,0,1.0
994,2024-03-12 07:00:00,0.00293700,0.00316400,0.00292000,0.00300000,2874531460.00000000,2024-03-12 07:59:59.999,8806550.68993000,49417,1440639458.00000000,4411382.12833900,0,8.0